nav  {
    color: rgb(19, 34, 43);
    text-decoration: none;
    background-color:aqua;
}
nav a:hover{
    color: aquamarine;
    font-weight: bold;
}
body{
    background-color: azure;
}

