nav  {
    color: rgb(19, 34, 43);
    text-decoration: none;
    background-color: rgba(0, 255, 221, 0.74);
}
nav a:hover{
    color: rgb(217, 255, 0);
    font-weight: bold;
}
body{
    background-color: azure;
}
a:active{
    color: orange;
    text-decoration: none;
    background-color: darksalmon;
}