nav  {
    color: orange;
    text-decoration: none;
    background-color:aqua;
}
nav a:hover, :visited, :active, link{
    color: aquamarine;
    font-weight: bold;
    text-decoration: none;

}
body{
    background-color: azure;
}

